<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet"href="/css/style.css">
</head>
<body>
    <nav class="navbar navbar-expand-sm bg-light">

                
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">AddBooks</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/add/view">ViewBooks</a>
          </li>
          
        </ul>
      
      </nav>
   <div class="container">
       <div class="row">
           <div class="col col-12 col-sm-12">
              <table class="table">
                  
                  <tr><td>Book Title :</td><td><input type="text" class="form-control"></td></tr>
                  <tr><td>Book Author :</td><td><input type="text" class="form-control"></td></tr>
                  <tr><td>Book Publisher :</td><td><input type="text" class="form-control"></td></tr>
                  <tr><td>Date of Publication :</td><td><input type="date" class="form-control"></td></tr>
                  <tr><td>Distributor Name :</td><td><input type="text" class="form-control"></td></tr>
                  <tr><td>Price :</td><td><input type="text" class="form-control"></td></tr>
                  <tr><td>Description :</td><td><textarea name="comment"></textarea></td></tr>


                  <tr><td></td><td><button class="btn btn-success">Submit</button></td></tr>
              </table>

           </div>
           
       </div>
   </div> 
</body>
</html>